.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebarRow:hover {
  background-color: grey;
  border-radius: 10px;
  transform: scale(1.07);
}

.sidebarRow > h5 {
  margin-left: 20px;
  font-weight: 600;
  text-shadow: 0px 0px 2px whitesmoke;
}

.sidebarRow > .MuiSvgIcon-root {
  font-size: x-large;
}

.sidebarRow > button {
  border: none;
  background: none;
}
