.sidebar {
  padding: 25px 10px;
  flex: 0=33;
  position: sticky;
  background-color: #6a3ef0;
  width: 35rem;
  box-shadow: 3px 2px 5px 2px rgba(44, 182, 125, 0.9);
}

.sidebar > h4 {
  padding: 10px 20px;
}
